.pointer {
    cursor : pointer;
}

.mr10 {
    margin-right : 10px;
}

.label {
    font-weight : 600;
}

.label-times {
    border : 1px solid #3c8dbc;
    color  : #3c8dbc;
}

.main-header .navbar .nav > li > a > .label {
    position    : absolute;
    top         : 6px;
    right       : 4px;
    text-align  : center;
    font-size   : 9px;
    padding     : 2px 3px;
    line-height : .9;
}

* {
    font-family : 'Roboto', sans-serif;
}
b, strong {
    font-weight: 400;
}
.content-wrapper{
    min-height: calc(100vh - 50px);
}